#mybox {
background-color: black; width: 1000; height: 200px;
}

#colour1 {
background-color: pink; width: 100px; height: 100px;
}

#colour2 {
background-color: green; width: 100px; height: 100px;
}

#colour3 {
background-color: lime; width: 100px; height: 100px;
}

#colour4 {
background-color: yellow; width: 100px; height: 100px;
}

#colour5 {
background-color: black; width: 100px; height: 100px;
}
